.card-content {
    padding: 20px;
}

.card-title {
    margin: 10px 0;
}

#task-form .mdc-text-field {
    width: 100%;
}

#task-form > input {
    color: white;
    background-color: #00796b;
}

#clear-btn {
    color: white;
    background-color: rgb(0,0,0);
}

.card-action {
    border-top: 1px solid rgb(0,0,0,0.1);
    padding: 20px;
}

.card-action > .mdc-text-field {
    width: 100%;
}

#list-title {
    margin: 10px 0;
}